# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMAKE
cmake-build-debug/
cmake-build-debug-coverage/
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/AED_Project.dir/main.cpp.obj
cmake-build-debug/AED_Project.exe
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
